.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  gap: 30px;
  top: 0;
  left: 0;
  min-height: 50dvh;
  width: 50dvw;
  border-radius: 15px;
  padding: 40px;
  background-color: var(--page-color)
}

.card-content strong {
  margin-bottom: 25px;
}

.closeBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--secondary-color);
  padding: 5px 10px;
}

.closeBtn:hover {
  color: #f10e0e;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.optionBtn {
  border-radius: 30px;
  background-color: var(--secondary-color);
  color: var(--page-color);
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.optionBtn:hover:not(:disabled) {
  transform: translateY(-3px);
  box-shadow: var(--shadow);
}

.optionBtn.correct {
  background-color: var(--accent-color);
  color: var(--page-color);
}

.optionBtn.wrong {
  background-color: #f10e0e;
  color: var(--page-color);
}

.optionBtn:disabled {
  cursor: default;
  opacity: 0.3;
}

.nextBtn {
  border-radius: 30px;
  background-color: var(--secondary-color);
  color: var(--page-color);
  transition: background-color 0.3s ease;
  margin-top: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.nextBtn:hover {
  border-radius: 30px;
  background-color: #a1a3b6; 
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  top: 0;
  left: 0;
  border-radius: 22px;
  background-color: var(--page-color);
}

.card-content {
  display: flex;
  flex-direction: column;
  top: 10px;
  align-items: center;
  gap: 2rem;
}

.optionBtn:disabled.correct,
.optionBtn:disabled.wrong {
  opacity: 1;
}

.totalquestions {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 500;
}

.score {
  font-size: 2rem;
  color: var(--accent-color);
}

.results h2 {
 font-size: 3.6rem;
 font-weight: 700;
 margin-bottom: 0.4rem;
}

.question-text {
  margin-bottom: 2rem;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.6rem;
  margin-bottom: 2rem;
}

.snedstreck {
  font-size: 2rem;
  font-weight: 400;
}

.title {
  top: 0;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
