html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  background-color: var(--secondary-color);
  width: 100%;
  height: 10dvh;
  margin-top: 0;
}

.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.dashboardlist {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 0 20px;
}

.dashBtn {
  background-color: transparent;
  font-weight: 700;
  border: none;
  text-decoration: none;
  color: var(--page-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dashBtn:hover {
  color: #a8a8a8;
}

.logOutBtn {
  margin-right: 0px;
  background-color: transparent;
  font-weight: 700;
  border: none;
  text-decoration: none;
  color: var(--page-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.logOutBtn:hover {
  color: #a8a8a8;
}

.content-area {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: transparent;
}