.list {
  display: flex;
  justify-content: center;
}

.note-item {
  list-style: none;
  padding: 8px 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border-radius: 8px;
  transition: transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  box-shadow: var(--shadow);
  width: 50dvw;
}

.note-item:hover {
  background-color: #d0d4dd;;
  transform: translateX(-3px);
}

.deleteBtn {
  background-color: transparent;
  padding: 10px 13px;
  border-radius: var(--border-radius);
  border: none;
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.deleteBtn:hover {
  background-color: #cc3535;
  color: var(--page-color);
}

.date {
  display: flex;
  justify-self: center;
  align-self: center;
}