body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.noteBodyArea {
  width: 70dvw;
  margin-top: 2rem;
  background-color: var(--page-color);
  color: var(--text-color);
  border: transparent;
  height: calc(100dvh - 2rem);
  font-family: 'Inter', sans-serif;
  resize: none;
  padding: 20px; 
  box-sizing: border-box;
}

.noteBodyArea:focus {
  border: none;
}

.noteTitleInput {
  background-color: var(--page-color);
  font-family: 'Inter', sans-serif;
  border-color: transparent;
}

.noteTop {
  width: 70dvw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}