body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

.noteBodyArea {
  width: 70dvh;
  padding-top: 10dvh;
  background-color: var(--page-color);
  color: var(--text-color);
}