body {
  background-color: var(--primary-color);
}

h1 {
  font-size: 144px;
  font-weight: 300;
  letter-spacing: -6px;
  margin-bottom: 18%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  box-sizing: border-box;
  padding-bottom: 3%;
  padding-top: 3%;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.signUpBtn {
  padding: 10px 18px;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  max-width: fit-content;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.signUpBtn:hover {
  border-radius: 30px;
  background-color: #a1a3b6;
}

.loginBtn {
  margin-top: 9px;
  padding: 10px 18px;
  border-radius: var(--border-radius);
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  max-width: fit-content;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.loginBtn:hover {
  border-radius: 30px;
  background-color: var(--accenthover-color);  
}

input {
  margin: 8px 0;
  border: transparent;
  border-radius: 3px;
  background-color: transparent;
  padding-left: 1dvb;
  color: var(--text-color);
  box-sizing: border-box;
}

input:focus {
  background-color: #dfdfdf;
}

p {
  margin-top: 4%;
  margin-bottom: 1%;
  font-size: 68%;
}
